<h1 class="text-5xl bg-blue-500">StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div class="text-5xl animate-pulse">Hello tailwindcss!</div>

<span class="my-title">.my-title in application.scss</span>
